@import "tailwindcss";

@theme {
    --color-primary: #23A6F0;
    --color-secondary: #23856D;
    --color-text-main: #252B42;
    --color-text-muted: #737373;
    --color-dark: #252B42;
    --color-success: #2DC071;



    --font-montserrat: "Montserrat", sans-serif;
}

/* @apply kullanımı örneği */
@layer components {
    .btn-primary {
        @apply flex items-center justify-center bg-primary text-white px-6 py-3 rounded-md font-bold transition-all hover:opacity-90;
    }
}